$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;

//global
.description {
    font-size: 18px;
    font-family: $font-header;
    line-height: 35px;
    letter-spacing: -0,45px;
}
.container {
    text-align: center;
    width: 940px;
}
body {
    margin: 0;
}
//services
.services-box {
    width: 271px;
    padding: 30px;
}
.services-text {
    font-family: $font-text;
    font-size: 14px;
    letter-spacing: -0,35px;
}
.services i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fed136;
    font-size: 30px;
    border: 2px solid #fed136;
    border-radius: 50%;
}
.section-title {
    position: relative;
    font-size: 40px;
    font-family: $font-header;
}
.section-subtitle {
    font-style: italic;
    font-family: $font-text;
    font-size: 16px;
}

// portfolio
.portfolio {
    background-color: #f7f7f7; 
}
.portfolio-box {
    padding: 30px;
}
.portfolio-pic {
    padding-top: 100%;
    background-position: center;
    background-size: cover;
}
.under-pic {
    background-color: white;
    overflow: hidden;
}

//footer tags
footer p {
    font-family: $font-text;
    margin: 16px 0;
}
footer .container {
    display: flex;
}
footer .circle {
    border-radius: 50%;
    font-size: 20px;
    background: black;
    width: 30px;
    height: 30px;
    line-height: 1.5;
    display: inline-block;
}

footer .circle i {
    vertical-align: middle;
}
footer a {
    text-decoration: none;
    color: white;
}

// header
.header {
    background-image: url('https://i.postimg.cc/ZK0d75cF/cloudiness-clouds-cloudscape-3022417.jpg');
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}